.hero{
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
  position: relative;
  z-index: -1;
}
.hero_wrapper{
  max-width: 1366px;
  height: 100%;
  margin: auto;
}
.heroTextContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  h2{
    font-size: 1.875rem;
    color: rebeccapurple;
    letter-spacing: 10px;
  }
  h1{
    font-size: 68px;
  }

  img{
    width: 50px;
  }
}
.imageContainer{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  img{
    width: 100%;
  }
}